[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"
dataclass-type-validator = "*"
typeguard = "*"
valid8 = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
